<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>resume</title>
</head>
<body>
<h1>Welcome to my Resume</h1>
<div class="container">
    <div class = "header">
        <center>
            <h2>Yassine Ouedki</h2>
            <h3>MBA, Software Developer</h3>
            <h4>(210) 542-3199 | yassine.ouedki@gmail.com | github.com/ouedki | Linkedin youedki</h4>
        </center>

    </div>

    <div class="objective">
        <h3>Objective</h3>
        <p>To obtain a position as a Web Developer in company where I can utilize my skills and expertise that benefit
            the bottom line and make a positive impact on clients, co-workers, and the Internet.</p>
    </div>

    <div class="skills">
        <h3>Technical Skills</h3>
        <p><b>Back-end Development:</b> Java, MySQL, Spring, Linux, Apache Tomcat, cloud deployment</p>
        <p><b>Front-end Development:</b>JavaScript, jQuery, AJAX, JSON, Bootstrap, HTML, CSS</p>
    </div>

    <div class="experience">
        <h3>Work Experience</h3>
        <h4>Human Resources Specialist |Becton Dickinson, San Antonio | 05/2015 – 04/2016</h4>
        <ul>
            <li>Worked with SAP 6.0, ADP Global View and E-time to maintain employees’ master data.</li>
            <li>Analyzed bi-weekly payroll audit reports for 1800+ associates in the US and Puerto Rico.</li>
            <li>Processed 15+ HR cases submitted via HROne Portal within the SLA requirements daily.</li>
        </ul>

        <h4>President |StarCar Leasing, San Antonio | 09/2013 – 05/2015</h4>
        <ul>
            <li>Trained and mentored 2 employees to succeed in their long-term goals and utilize strengths to increase business profitability</li>
            <li>Planned the tracking, maintenance, and repairs for a fleet of 13 cars to ensure an effective rental process.</li>
            <li>Developed business relationships with over 5 local body shops.</li>
        </ul>

        <h4>Management Trainee |Enterprise Rent a Car, San Antonio | 08/2012 – 09/2013</h4>
        <ul>
            <li>Assisted with managing a fleet of 200+ vehicles to monitor proper maintenance, inspections and any safety recalls.</li>
            <li>Contributed to increased customer service rating from 74% to 92% through callbacks.</li>
            <li>Worked with team in preparing and placing 40+ customers in rental cars daily.</li>
        </ul>

        <h4>Administrative and Financial Assistant |COTEBA, Morocco | 08/2008 – 11/2009</h4>
        <ul>
            <li>Reviewed all invoices for appropriate documentation and approval prior to payment.</li>
            <li>Maintained 3+ spreadsheets and databases using CIEL and MS Excel.</li>
            <li>Investigated and delivered answers to routine inquiries from financial staff, reporting agencies and management.</li>
        </ul>
    </div>

    <div class="education">
        <h3>Education</h3>
        <p><b>Codeup:</b> Immersive full-stack career accelerator that provides students with 536+ hours of
            expert instruction in software development and building real-world projects. | 3/2017</p>
        <p><b>University of the Incarnate Word :</b> Master of Business Administration |GPA 3.86 |12/2011</p>
        <p><b>International Institute for Higher Education in Morocco: </b> B.A. Finance|GPA 3.21|6/2008</p>
    </div>
</div>
</body>
</html>