<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<div class="container">
    <h1 >Guess a Number!</h1>

    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>

    <h2 th:if="${n} == ${guess} and ${guess}!=null">You guessed it correctly</h2>
    <h2 th:if="${n} != ${guess}">Sorry try again</h2>

    <p>You guessed <span th:text="${n}"></span>!</p>
    <p>The Computer guessed <span th:text="${guess}"></span>!</p>


</div>
</body>
</html>